.main-container
	.admin-page
		.row
			.span2
				= render "layouts/admin_nav"

			.span8
				#flash
					- flash.each do |name, msg|
						= content_tag :div, msg, :id => "flash_#{name}", class: "alert alert-#{name}"

				%h3.admin-title All notifications

				.add-item
					%a{ :href => new_notification_path } + Add Notification

				%table.table.table-striped
					%tr
						%th ID
						%th Time
						%th Message
						%th Locations

					- @notifications.each do |notification|
						%tr
							%td
								%a{ :href => edit_notification_path(notification) }
									= notification.id
							%td
								= notification.display_time_in_words
							%td
								= notification.message
							%td
								= notification.locations.count == Location.count ? "All" : notification.locations.map{ |location| location.name }.join(", ")