.main-container
	.admin-page
		.row
			.span2
				= render "layouts/admin_nav"

			.span8
				#flash
					- flash.each do |name, msg|
						= content_tag :div, msg, :id => "flash_#{name}", class: "alert alert-#{name}"

				%h3.admin-title All admin accesses

				%table.table.table-striped
					%tr
						%th Device
						%th Action
						%th Location
						%th Date accessed

					- @admin_accesses.each do |admin_access|
						- timezone = Location.find_by_name(admin_access.location_during_access.split(',').first).try(:timezone) || "PST"
						%tr
							%td
								= admin_access.device_name_during_access
							%td
								= admin_access.action.capitalize
							%td
								= admin_access.location_during_access
							%td
								= "#{(admin_access.created_at + @time_differences[timezone]).strftime("%b %d, %Y at %H:%M (%a)")} #{timezone}"

				= will_paginate @admin_accesses, :params => { :controller => "admin_accesses", :action => "index" }