= simple_form_for @location do |f|
	%fieldset		
		.form-group
			%label{ :for => "location_name" }
				%b Name
			= f.text_field :name, :value => @location.name, :class => "form-control"

		.form-group
			%label{ :for => "location_location_type" }
				%b Location type
			= f.text_field :location_type, :value => @location.location_type, :class => "form-control"

		.form-group
			%label{ :for => "location_city" }
				%b City
			= f.text_field :city, :value => @location.city, :class => "form-control"

		.form-group
			%label{ :for => "location_province_or_state" }
				%b Province or state
			= f.text_field :province_or_state, :value => @location.province_or_state, :class => "form-control"

		.form-group
			%label{ :for => "location_country" }
				%b Country
			= f.text_field :country, :value => @location.country, :class => "form-control"

		.form-group
			%label{ :for => "location_timezone" }
				%b Timezone
			= f.text_field :timezone, :value => @location.timezone, :class => "form-control"

		.form-group
			%label{ :for => "location_currency" }
				%b Currency
			= f.text_field :currency, :value => @location.currency, :class => "form-control"

		%label{ :for => "location_tax_id" }
			%b Tax(es)
		.checkbox.inline
			= f.collection_check_boxes :tax_ids, Tax.all, :id, :name

		%label{ :for => "location_notification_id" }
			%b Notification(s)
		.checkbox.inline
			= f.collection_check_boxes :notification_ids, Notification.all, :id, :message_and_time_in_words

		.submit-button
			%button.btn.btn-success{ :type => "submit" }
				= "#{Location.find_by_id(@location.id) ? "Save" : "Create"}"

			- if Location.find_by_id(@location.id)
				= link_to "Delete", location_path(@location), :method => :delete, :confirm => "You know what you're doing right?  You're about to delete this location...", :style => "margin-left: 10px;"
