.navbar.navbar-fixed-top.navbar-inverse
  .navbar-inner
    %a.brand.smoothScroll{:href => "#{params[:controller] == 'pages' ? '#what' : root_path(:anchor => 'what')}"} TO Tablets
    %ul.nav
      %li.active
        %a.smoothScroll{:href => "#{params[:controller] == 'pages' ? '#what' : root_path(:anchor => 'what')}"} What we do
      %li
        %a.smoothScroll{:href => "#{params[:controller] == 'pages' ? '#how' : root_path(:anchor => 'how')}"} How does it work
      %li
        %a.smoothScroll{:href => "#{params[:controller] == 'pages' ? '#why' : root_path(:anchor => 'why')}"} Why it's cool
      %li
        %a.smoothScroll{:href => "#{params[:controller] == 'pages' ? '#who' : root_path(:anchor => 'who')}"} Who we are